/*CSS初始化*/
body,p,h1,h2,h3,h4,div,ul,li,table,tr,td,dl,dt,dd,form,a,img,em,i,strong,b,input,select,option,textarea{margin:0; padding:0;}
a{color:#666666}
a:hover{color:#ab1c12}
li{list-style:none;}
img{border:0 none; vertical-align: top;}
body{font-family:"微软雅黑"; font-size:14px; background:url(../img/bg.jpg);}
#header{height:780px; background:url(../img/header-bg.jpg) no-repeat center top;/*backgrond:url(../img/header-bg.jpg) no-repeat center top;*/}
.header-list{padding:352px 0 0 68px; }
.header-list li{padding-left:14px; line-height:23px; background:url(../img/bbg.png) no-repeat 0px 4px;}


.layer{width:984px; height:auto; margin:0 auto;}
.red{color:#a10f02;}

.task{border:1px dashed #bdab85; background:#fdfaf4}


#task1{height:576px; margin-top:-273px;background-image:url(../img/task1.jpg); background-repeat:no-repeat; background-position:55px 125px;}
.title{height:125px; text-indent:-99em; overflow:hidden;}
.title1{background:url(../img/titile.png) no-repeat;}
.task-list{margin:11px 0 0 662px;}
.task-list dt{line-height:38px; color:#333; font-size:18px;}
.task-list dd{padding-left:14px;line-height:32px;background:url(../img/bbj.png) no-repeat 0px 8px}
.task-btn{display:block; margin:94px 0 0 662px; width:166px; height:45px; background:url(../img/task-ptn.png) no-repeat; text-indent:-99em; over-flow:hidden;}

#task2{height:485px;margin-top:24px;background-image:url(../img/task2.jpg);background-repeat:no-repeat; background-position:55px 104px;}
.tl{height:104px; text-indent:-99em; overflow:hidden;}
.tl2{background:url(../img/tl2.png) no-repeat;}
.task-list2{margin:36px 0 0 662px;}
.task-list2 dt{line-height:38px; color:#333; font-size:18px;}
.task-list2 dd{padding-left:14px;line-height:32px;background:url(../img/bbj.png) no-repeat 0px 8px}
.task-btn2{display:block; margin:51px 0 0 662px;width:166px; height:45px; background:url(../img/btn2.png) no-repeat; text-indent:-99em; over-flow:hidden;}

#task3{height:576px;margin-top:24px;background-image:url(../img/task3-bg.jpg);background-repeat:no-repeat; background-position:48px 108px;}
.tl2{height:107px; text-indent:-99em; overflow:hidden;}
.tl3{background:url(../img/tl3.png) no-repeat;}
.task-list3{margin:11px 0 0 662px;height:auto; width:280px;}
.task-list3 dt{line-height:38px; color:#333; font-size:18px;}
.task-list3 dd{padding-left:14px;line-height:25px;background:url(../img/bbj.png) no-repeat 0px 8px}
.task-btn3{display:block; margin:53px 0 0 662px;width:166px; height:45px; background:url(../img/btn3.png) no-repeat; text-indent:-99em; over-flow:hidden;}

#task4{height:187px;margin-top:24px;margin-bottom:184px;background:url(../img/last-bg.png) no-repeat;}
.task-list4{margin:85px 0 0 75px;}
.task-list4 li{padding-left:14px; line-height:25px; color:#333; font-size:14px;background:url(../img/bbj.png) no-repeat 0px 8px}
